<Project>
  <PropertyGroup>
    <TargetsForTfmSpecificContentInPackage>$(TargetsForTfmSpecificBuildOutput);GetMyPackageFiles</TargetsForTfmSpecificContentInPackage>
  </PropertyGroup>
  <Target Name="GetMyPackageFiles" DependsOnTargets="Publish">  
  
  <!-- it will run every TFM and excatly what I want. And let's see if Publish output itemgroup. Directly pipe item group to  -->
    <ItemGroup>
      <TfmSpecificPackageFile Include="$(PublishDir)/**/*.*">
        <PackagePath>tools/$(targetframework)</PackagePath>
      </TfmSpecificPackageFile>
    </ItemGroup>
  </Target>
</Project>
