<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <TargetsForTfmSpecificBuildOutput>$(TargetsForTfmSpecificBuildOutput);GetMyPackageFiles</TargetsForTfmSpecificBuildOutput>
  </PropertyGroup>
  <Target Name="GetMyPackageFiles">
    <ItemGroup>
      <BuildOutputInPackage Include="tools/DotnetToolSettings.xml">
        <FinalOutputPath>DotnetToolSettings.xml</FinalOutputPath>
      </BuildOutputInPackage>
    </ItemGroup>
  </Target>
</Project>